<br>
<!-- <div class="fixed-bottom text-center py-3">
    @anonymous377
</div> -->
</body>
<script>
    div = document.querySelector("i")
    div.addEventListener("click",function(){
        div.parentElement.parentElement.style.display = "none"
        // div.parentElement.parentElement.remove()
    })
</script>
</html>